body {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Plumb-Bold';
	src: url('fonts/Plumb-Bold.woff') format('woff');
	font-weight: normal;	
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Plumb-Reg';
	src: url('fonts/Plumb-Regular.woff') format('woff');
	font-weight: normal;	
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboro-Reg';
	src: url('fonts/Plumb-Regular.woff') format('woff');
	font-weight: normal;	
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboro-Bold';
	src: url('fonts/Plumb-Bold.woff') format('woff');
	font-weight: normal;	
	font-style: normal;
	font-display: swap;
}

section.map {
	background: #fff;
	font-family: 'Roboto-Reg', Arial, sans-serif;
	color: #000;
	max-width: 1160px;
	padding: 10px 13px;
	margin: 0 auto;
}

section.map * {
	box-sizing: border-box;
}

section.map .map__title-page {
	margin: 0 0 20px;
	padding: 0;
	font-family: 'Plumb-Reg', Arial, sans-serif;
	font-size: 35px;
	line-height: 1.4;
	color: #00426B;
}

section.map .map__block {
	margin-bottom: 10px;
	position: relative;
}

section.map .map__block-text {
	position: absolute;
	bottom: 10px;
	right: 100px;
	font-size: 16px;
	line-height: 1.4;
	margin: 0;
	padding: 0 0 0 34px;
}

section.map .map__block-text:before {
	position: absolute;
	content: "";
	left: 0;
	top: -1px;
	width: 24px;
	height: 24px;
	background: #BBE5FF;
}

section.map .map__image-wrapper {
	max-width: 561px;
	margin: 0 auto;
	background: url(img/map.png) no-repeat 50% 50% /contain;
}

section.map .map__image {
	position: relative;	
	height: 0;
	padding-bottom: 119.25%;
}

section.map .map__marker-wrapper {
	position: absolute;
	width: 6.06%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 0;
}

section.map [data-info="0"] { top: 38.5%; left: 3%; }
section.map [data-info="1"] { top: 76.5%; left: 32%; }
section.map [data-info="2"] { top: 44.5%; left: 47%; }
section.map [data-info="3"] { top: 39.5%; left: 50%; }
section.map [data-info="4"] { top: 49.5%; left: 50%; }
section.map [data-info="5"] { top: 36.5%; left: 53%; }
section.map [data-info="6"] { top: 33.5%; left: 57%; }
section.map [data-info="7"] { top: 36.5%; left: 61%; }
section.map [data-info="8"] { top: 42%; left: 61%; }

section.map .map__card {
	position: absolute;
	left: 140%;
	top: 40%;
	background: #fff;
	width: 314px;
	border-radius: 5px;
	padding: 30px 25px;
	z-index: -1;
	border: 1px solid #EAEAEA;
	box-shadow: 0px 2px 4px rgba(24, 39, 75, 0.12), 0px 4px 4px rgba(24, 39, 75, 0.08);
	transform: translateY(-50%);
	opacity: 0;
	transition: .2s;
	pointer-events: none;
}

section.map .map__swiper-slide .map__card {
	display: none;
}

section.map .map__swiper {
	margin: 0;
}

section.map .map__marker-wrapper:hover {
	z-index: 1;
}

section.map .map__marker-wrapper:hover .map__card {
	opacity: 1;
	z-index: 0;
	pointer-events: all;
}
section.map .map__card:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fff;
	left: -10px;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	box-shadow: 0px 2px 4px rgba(24, 39, 75, 0.12), 0px 4px 4px rgba(24, 39, 75, 0.08);
}

section.map .map__card:after {
	content: "";
	position: absolute;
	width: 20px;
	height: 30px;
	background: #fff;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

section.map .map__card-name {
	font-family: 'Plumb-Bold', Arial, sans-serif;
	font-size: 17px;
	line-height: 1.2;
	color: #00426B;
	padding: 0;
	margin: 0 0 18px;
}

section.map .map__card-img {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	margin-bottom: 13px;
	padding: 0;
}

section.map .map__card-list {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

section.map .map__card-item {
	font-size: 14px;
	line-height: 1.2;
}

section.map .map__marker {
	height: 0;
	padding-bottom: 100%;
	background: url(img/marker.svg) no-repeat 50% 50% /contain;
}

section.map .map__info {
	padding-bottom: 84px;
}

section.map .map__info-title {
	margin: 0 0 20px;
	padding: 0;
	font-family: 'Plumb-Bold', Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	color: #00426B;
}


section.map .map__info-text-block {
	max-width: 880px;
}

section.map .map__info-text-block *:last-child {
	margin-bottom: 0;
}

section.map .map__info-text-bold {
	margin: 0 0 10px;
	padding: 0;
	font-family: 'Roboto-Bold', Arial, sans-serif;
	font-size: 15px;
	line-height: 1.4;
	font-weight: bold;
}

section.map .map__info-list {
	list-style: none;
	margin: 0 0 10px;
	padding: 0 0 0 44px;
}

section.map .map__info-item {
	position: relative;
	font-size: 15px;
	line-height: 1.4;
	margin-bottom: 5px;
}

section.map .map__info-item:last-child {
	margin-bottom: 0;
}

section.map .map__info-item:before {
	position: absolute;
	left: -17px;
	top: 7px;
	content: "";
	width: 6px;
	height: 6px;
	background: #00426B;
	border-radius: 50%;
}

section.map .map__info-text {
	font-size: 15px;
	line-height: 1.4;
	margin: 0 0 10px;
	padding: 0;
}

@media (max-width: 1199px) {
	section.map .map__title-page {
		font-size: 30px;
	}
}

@media (max-width: 991px) {
	section.map .map__title-page {
		font-size: 24px;
		text-align: center;
	}

	section.map .map__card {
		display: none;
	}

	section.map .map__swiper [data-info="*"] { top: 0; left: 0; }
	section.map .map__swiper {
		margin: 20px 0;
		padding-bottom: 40px;
	}

	section.map .map__swiper-slide.swiper-slide-active .map__card {
		border: 2px solid #00426B;
	}

	section.map .map__swiper-slide .map__card {
		position: static;
		display: block;
		transform: translateY(0);
		opacity: 1;
		width: auto;
		text-align: center;
		padding: 20px 15px;
		border-width: 2px;
	}

	section.map .map__marker-wrapper {
		opacity: .3;
	}

	section.map .map__marker-wrapper.map__marker-wrapper--active {
		opacity: 1;
	}

	section.map .map__swiper-slide .map__card:before,
	section.map .map__swiper-slide .map__card:after {
		display: none;
	}

	section.map .map__card-img {
		min-width: 80%;
		max-width: 80%;
		width: 80%;
	}
}

@media (max-width: 768px) {
	section.map .map__title-page {
		font-size: 22px;
	}
}