.title {
    color: $white;
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;

    &--blue {
        color: $blue;
    }

    @media (max-width: 991px) {
        font-size: 30px;
    }

    @media (max-width: 767px) {
        font-size: 20px;
    }
}

.text {
    color: $gray-light;
    font-size: 18px;

    &--blue {
        color: $blue;
    }

    @media (max-width: 767px) {
        font-size: 16px;
    }
}